<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TWAirlines - Flight Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>


</head>

<body>
<b><p th:text = "'Welcome to TWAirline'"/></b>
<fieldset>
<legend>Search Flights</legend>
<form th:action="@{/airlineSearch}" th:object="${searchCriteria}" method="post">
    <table>
        <tr>
            <td> Source </td>
            <td>
                <select class="form-control" id ="src" name="source" th:field="*{source}">
                    <option value="">Select Source City</option>
                    <option th:each = "city:${cities}"  th:value="${city.cityID}" th:text="${city.cityName}" />

                </select>
            </td>
        </tr>
        <tr>
            <td>
                Destination
            </td>
            <td>
                <select class="form-control" id="dest" name="destination" th:field="*{destination}">
                    <option value="">Select Destination City</option>
                    <option th:each = "city:${cities}"  th:value="${city.cityID}" th:text="${city.cityName}" />
                </select>
            </td>

        </tr>
        <tr>
            <td> No of Passengers</td>
            <td> <input type="text" id="passCount" name="passengerCount" th:field="*{passengers}"/></td>

        </tr>
        <tr>
            <td> Departure Date</td>
            <td> <input type="date"  id="depDate" name="departureDate" th:field="*{departureDate}" th:min="${today}" /></td>

        </tr>

        <tr>
            <td> Class</td>
            <td>
                <select  id="class" name="classType" th:field="*{classType}">
                    <option th:each="travelClass:${travelClassList}" th:value="${travelClass}" th:text="${travelClass}"></option>
                </select>
            </td>

        </tr>

    <tr>
        <td colspan="2" align="center"><button name="Search" value="submit">Search</button></td>
    </tr>
    </table>


</form>
</fieldset>
</body>
</html>