<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TWAirlines - Flight Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
<b><p th:text = "'Welcome to TWAirline'"/></b>
<fieldset>
<legend>Search Flights</legend>
<form action="airlineSearch" method="post">
    <table>
        <tr>
            <td> Source </td>
            <td>
                <select class="form-control" id ="src" name="source">
                    <option value="">Select Source City</option>
                    <option th:each = "city:${cities}"  th:value="${city.cityName}" th:text="${city.cityName}" />
                        <!--<p th:text=""></p>-->
                        <!--< th:text="${city.cityName}"/>&ndash;&gt;-->
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Destination
            </td>
            <td>
                <select class="form-control" id="dest" name="destination">
                    <option value="">Select Destination City</option>
                    <option th:each = "city:${cities}"  th:value="${city.cityName}" th:text="${city.cityName}" />
                </select>
            </td>

        </tr>
        
    </table>

    <button name="Search" value="submit">Search</button>
</form>
</fieldset>
</body>
</html>